@inject Microsoft.Extensions.Options.IOptions<PersonaliseOptions> opt
@model MartinKMe.Models.EventsViewModels.IndexViewModel

@{
    ViewData["Title"] = "Events";
}

<div class="jumbotron jumbotron-calendar">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>I try to get to lots of events.</p>
        <p>These are all my events; future and recent past.</p>
    </div>
</div>

@{
    var backgroundCount = 1;
}


@foreach (var e in Model.Events)
{
    <div class="container-fluid sequence-background-@backgroundCount">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>@e.Title</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p><b>@e.Date.ToString("D")</b> in <b>@e.City</b></p>
                    <a href="@e.ExternalUrl" class="btn btn-default btn-default">Learn more <i class="fa fa-angle-double-right" aria-hidden="false"></i></a>
                </div>
                <div class="col-md-4 hidden-sm hidden-xs">
                    <img src="@e.ImageUrl" class="img-responsive conference-logo"  alt="@e.Title logo">
                </div>
            </div>
        </div>
    </div>

    {
        backgroundCount = backgroundCount + 1;
    }

}
