@model MartinKRC2.Models.Talk

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Talk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Audience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Audience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Technologies)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Technologies)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
