@inject Microsoft.Extensions.Options.IOptions<PersonaliseOptions> opt
@model MartinKMe.Models.ArticlesViewModels.ArticleViewModel

@section metadata
{
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@string.Concat('@',opt.Value.TwitterHandle)" />
    <meta name="twitter:creator" content="@string.Concat('@',opt.Value.TwitterHandle)" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://@Context.Request.Host@Context.Request.Path" />
    <meta property="og:title" content="@Model.Article.Title" />
    <meta property="og:description" content="@Model.Article.Description" />
    <meta property="og:image" content="@Model.Article.Thumbnail" />
    <meta property="og:article:published_time" content="@Model.Article.Published" />
    <meta property="og:article:tag" content="@string.Join(",", Model.Article.Categories)" />
    <meta property="og:article:author" content="@Model.Article.Author" />
    <meta property="og:article:content_tier" content="free" />
    <meta name="description" content="@Model.Article.Description" />
}

@section head
{
    <style>
        body {
            background-color: white;
        }
    </style>
}


@{
    ViewData["Title"] = Model.Article.Title;
}

<div class="jumbotron jumbotron-speaking">
    <div class="container">
        <h1>@Model.Article.Title</h1>
        <p>@Model.Article.Description</p>
        <p>
            @foreach (var cat in Model.Article.Categories)
            {
                <span class="badge badge-primary"><a href="/tags/@cat.ToLower()">#@cat</a> </span>
            }
        </p>
        <p><small>@Model.Article.Published.ToString("dddd dd MMM yyyy")</small></p>
        <p><small>This article was written on <a href="@Model.Article.GitHubPath"><i class="fa fa-github fa-lg" aria-hidden="true"></i> GitHub</a>. You can raise issues, create pull requests or even fork the content... its open source</small></p>
    </div>
</div>

<div class="container article-container">
    @Model.Html
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a asp-controller="articles" asp-action="Index" class="btn btn-primary"><i class="fa fa-angle-double-left" aria-hidden="true"></i> See all articles</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid sequence-background-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Got a comment?</h2>
                <p>All my articles are written and managed as Markdown files on <a href="@Model.Article.GitHubPath"><i class="fa fa-github fa-lg" aria-hidden="true"></i> GitHub</a>.</p>
                <p>Please add an issue or submit a pull request if something is not right on this article or you have a comment.</p>
                <p>If you'd like to simply say "thanks", then please send me a <a href="@opt.Value.TwitterUrl"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a> so the rest of Twitter can see how awesome my work is.</p>
            </div>
        </div>
    </div>
</div>