@inject Microsoft.Extensions.Options.IOptions<PersonaliseOptions> opt
@model MartinKMe.Models.ArticlesViewModels.IndexViewModel
@addTagHelper *, Pioneer.Pagination

@{
    ViewData["Title"] = "Articles";
}

<div class="jumbotron jumbotron-articles">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>I adopt a 'learn in public' approach to blogging. Whenever I learn something new, I try to capture it here.</p>
        <p>All my articles are written on <a href="https://github.com/martinkearn/Content/tree/master/Blogs"><i class="fa fa-github fa-lg" aria-hidden="true"></i> GitHub</a>. You can raise issues, create pull requests or even fork the content... its open source.</p>
        <p>By default, you'll only see published articles, but you can <a href="/articles?drafts=true">enable drafts</a>.</p>
    </div>
</div>

@{
    var backgroundCount = 1;
}


@foreach (var article in Model.Articles)
{
    <div class="container-fluid sequence-background-@backgroundCount">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><a href="/articles/@article.Path.ToLower()" title="@article.Description" >@article.Title</a></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>@article.Published.ToString("dd MMM yyyy")</p>
                    <p><small>
                        @foreach (var cat in article.Categories)
                        {
                           <span><a href="/tags/@cat.ToLower()">#@cat</a> </span>
                        }
                    </small></p>
                    <p>@article.Description</p>
                    <p><a href="/articles/@article.Path.ToLower()" title="@article.Description" class="btn btn-default btn-default">Read now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                </div>
                <div class="col-md-4 hidden-sm hidden-xs">
                    <img src="@article.Thumbnail" class="img-responsive article-thumbnail" alt="@article.Title">
                </div>
            </div>
        </div>
    </div>

    {
        backgroundCount = backgroundCount + 1;
    }
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>@Model.TotalItems articles avaliable to enjoy dating back to 2005</p>
                <p>
                    @for (int i = 1; i <= Model.Pages; i++)
                    {
                        if (i == Model.ThisPage)
                        {
                            <span style="font-size: 12pt; font-weight: 400; margin-right: 20px;">@i</span>
                        }
                        else
                        {
                            if (i == 1)
                            {
                                <a asp-controller="Articles" asp-action="Index" class="btn btn-info" style="margin-right: 20px;">@i</a>
                            }
                            else
                            {
                                <a asp-controller="Articles" asp-action="Index" asp-route-page="@i" class="btn btn-info" style="margin-right: 20px;">@i</a>
                            }
                        }
                    }
                </p>
            </div>
        </div>
    </div>
</div>
