@inject Microsoft.Extensions.Options.IOptions<PersonaliseOptions> opt
@model MartinKMe.Models.ArticlesViewModels.IndexViewModel

@{
    ViewData["Title"] = "Articles";
}

<div class="jumbotron jumbotron-articles">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>I adopt a 'learn in public' approach to blogging.</p>
        <p>Whenever I learn something new, I try to capture it in a blog article.</p>
        <p>This is just a snap-shot of my most recent articles. You can see all of them at <a href="@opt.Value.BlogUrl">my blog site</a></p>
    </div>
</div>

@{
    var backgroundCount = 1;
}


@foreach (var article in Model.Articles)
{
    <div class="container-fluid sequence-background-@backgroundCount">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><a href="/articles/@article.Path">@article.Title</a></h2>
                    <p><small>@article.Published.ToString("dd MMM yyyy")</small></p>
                    <p>@article.Description</p>
                    <p><a href="/articles/@article.Path.ToLower()" title="@article.Description" class="btn btn-default btn-default">Read now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>
    </div>

    {
        backgroundCount = backgroundCount + 1;
    }
}
