@model MartinKMe.ViewModels.Speaking.TalkViewModel

@{
    ViewData["Title"] = Model.ThisTalk.Title;
}

<div class="jumbotron jumbotron-speaking">
    <div class="container">
        <h1>@Model.ThisTalk.Title</h1>
        <p>This is one of my talks.</p>
        <p>I can pretty much just turn up and deliver this with very little notice.</p>
    </div>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Talk Title</h2>
                <p>@Model.ThisTalk.Title</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Talk Description</h2>
                <p>@Model.ThisTalk.Description</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Suitable Audience</h2>
                <p>@Model.ThisTalk.Audience</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Technologies Covered</h2>
                <p>@Model.ThisTalk.Technologies</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Typical Time Range</h2>
                <p>This is just a typical time range, most talks can be adapted to suit any time frame so please ask if you need something different</p>
                <p>@Model.ThisTalk.Time</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a asp-controller="Speaking" asp-action="Index" class="btn btn-primary" ><i class="fa fa-angle-double-left" aria-hidden="true"></i> See all talks</a>
            </div>
        </div>
    </div>
</div>

