@inject Microsoft.Extensions.Options.IOptions<PersonaliseOptions> opt
@model MartinKMe.Models.SpeakingViewModels.TalkViewModel

@{
    ViewData["Title"] = Model.Talk.Title;
}

<div class="jumbotron jumbotron-speaking">
    <div class="container">
        <h1>@Model.Talk.Title</h1>
        <p>This is one of my talks.</p>
        <p>I can pretty much just turn up and deliver this with very little notice.</p>
    </div>
</div>

<div class="container-fluid sequence-background-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Talk Title</h2>
                <p>@Model.Talk.Title</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Talk Description</h2>
                <p>@Model.Talk.Description</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Suitable Audience</h2>
                <p>@Model.Talk.Audience</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Technologies Covered</h2>
                <p>@Model.Talk.Technologies</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Typical Time Range</h2>
                <p>This is just a typical time range, most talks can be adapted to suit any time frame so please ask if you need something different</p>
                <p>@Model.Talk.Time</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid sequence-background-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>My Bio</h2>
                <p>Here is my bio in various formats:</p>
                <ul>
                    <li><strong>Third Person</strong>: @opt.Value.ThirdPersonBio</li>
                    <li><strong>First Person</strong>: @opt.Value.FirstPersonBio</li>
                    <li><strong>Short</strong>: @opt.Value.ShortBio</li>
                </ul>

                <p>A few photos you can use to advertise your event</p>
                <div class="row">
                    <div class="col-md-2">
                        <a href="@opt.Value.Picture1UrlFullSize" download><img src="@opt.Value.Picture1UrlThumbnail" class="img-responsive profile-photo" alt="@opt.Value.Name profile picture 1"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="@opt.Value.Picture2UrlFullSize" download><img src="@opt.Value.Picture2UrlThumbnail" class="img-responsive profile-photo" alt="@opt.Value.Name profile picture 1"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="@opt.Value.Picture3UrlFullSize" download><img src="@opt.Value.Picture3UrlThumbnail" class="img-responsive profile-photo" alt="@opt.Value.Name profile picture 1"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="@opt.Value.Picture4UrlFullSize" download><img src="@opt.Value.Picture4UrlThumbnail" class="img-responsive profile-photo" alt="@opt.Value.Name profile picture 1"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="@opt.Value.Picture5UrlFullSize" download><img src="@opt.Value.Picture5UrlThumbnail" class="img-responsive profile-photo" alt="@opt.Value.Name profile picture 1"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a asp-controller="speaking" asp-action="Index" class="btn btn-primary" ><i class="fa fa-angle-double-left" aria-hidden="true"></i> See all talks</a>
            </div>
        </div>
    </div>
</div>

