@inject Microsoft.Extensions.Options.IOptions<PersonaliseOptions> opt
@model MartinKMe.Models.ShortcutsViewModels.IndexViewModel

@{
    ViewData["Title"] = "Shortcuts";
    var backgroundCount = 1;
    var backgroundImageCount = new Random().Next(1, 20);
}

@section head
{
    <link rel="stylesheet" href="~/css/shortcuts.css" />
}

@section scripts
{
    <script>
        $("#query").keyup(function (event) {
            if (event.keyCode === 13) {
                search("https://www.bing.com/search?q=");
            }
        });

        function search(url) {
            window.location = url + document.getElementById("query").value;
        }
    </script>
}

<div class="shortcuts-background" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('@Model.WallpaperUri')">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <input onfocus="this.value=''" type="text" id="query" name="query" value="Search me ..." class="search-input" autofocus />

                    @foreach (var shortcut in Model.Groups.Where(o => o.Key == "Search").FirstOrDefault())
                    {
                        <button onclick="search('@shortcut.Url')" title="@shortcut.Title" class="btn btn-primary btn-lg sequence-background-@backgroundCount">
                            @shortcut.Title
                        </button>

                        {
                            backgroundCount = backgroundCount + 1;
                        }
                    }

                </div>
            </div>
        </div>
    </div>

    @foreach (var group in Model.Groups)
    {
        if (group.Key != "Search")
        {
            <div class="container shortcuts-container ">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="shortcut-header">@group.Key</h4>
                        @foreach (var shortcut in group.ToList())
                        {
                            <a href="@shortcut.Url" title="@shortcut.Title" class="shortcut-link">@shortcut.Title</a>
                            @if (shortcut.Title != group.Last().Title)
                            {
                                <span> - </span>
                            }
                        }
                    </div>
                </div>
            </div>
        }

    }

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#AddShortcutModal">
                        <i class="fa fa-plus fa-lg"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#DeleteShortcutModal">
                        <i class="fa fa-minus fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h3>Seattle</h3>
                    <p><strong>@DateTime.UtcNow.Subtract(new TimeSpan(8, 0, 0)).ToString("HH:mm")</strong><br /><small>@DateTime.UtcNow.Subtract(new TimeSpan(8, 0, 0)).ToString("ddd dd")</small></p>
                </div>
                <div class="col-md-2">
                    <h3>New York</h3>
                    <p><strong>@DateTime.UtcNow.Subtract(new TimeSpan(5, 0, 0)).ToString("HH:mm")</strong><br /><small>@DateTime.UtcNow.Subtract(new TimeSpan(5, 0, 0)).ToString("ddd dd")</small></p>
                </div>
                <div class="col-md-2">
                    <h3>Home</h3>
                    <p><strong>@DateTime.UtcNow.ToString("HH:mm")</strong><br /><small>@DateTime.UtcNow.ToString("ddd dd")</small></p>
                </div>
                <div class="col-md-2">
                    <h3>Europe</h3>
                    <p><strong>@DateTime.UtcNow.Add(new TimeSpan(1, 0, 0)).ToString("HH:mm")</strong><br /><small>@DateTime.UtcNow.Add(new TimeSpan(1, 0, 0)).ToString("ddd dd")</small></p>
                </div>
                <div class="col-md-2">
                    <h3>India</h3>
                    <p><strong>@DateTime.UtcNow.Add(new TimeSpan(5, 30, 0)).ToString("HH:mm")</strong><br /><small>@DateTime.UtcNow.Add(new TimeSpan(5, 30, 0)).ToString("ddd dd")</small></p>
                </div>
                <div class="col-md-2">
                    <h3>Sing HK</h3>
                    <p><strong>@DateTime.UtcNow.Add(new TimeSpan(8, 0, 0)).ToString("HH:mm")</strong><br /><small>@DateTime.UtcNow.Add(new TimeSpan(8, 0, 0)).ToString("ddd dd")</small></p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Add Modal -->
<div class="modal fade" id="AddShortcutModal" tabindex="-1" role="dialog" aria-labelledby="AddShortcutModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="color:black;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Add a shortcut</h4>
            </div>
            <form asp-action="Create" asp-controller="Shortcuts">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="Title" style="font-weight:normal;">Title</label>
                        <input id="Title" name="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Group" style="font-weight:normal;">Group</label>
                        <input id="Group" name="Group" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Url" style="font-weight:normal;">Url</label>
                        <input id="Url" name="Url" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Add Shortcut" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete model-->
<div class="modal fade" id="DeleteShortcutModal" tabindex="-1" role="dialog" aria-labelledby="DeleteShortcutModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="color:black;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="">Delete a shortcut</h4>
            </div>
            <form asp-action="Delete" asp-controller="Shortcuts">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="Title" style="font-weight:normal;">Title</label>
                        <input id="Title" name="Title" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Delete Shortcut" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>