@inject Microsoft.Extensions.Options.IOptions<PersonaliseOptions> opt
@model MartinKMe.Models.ShortcutsViewModels.IndexViewModel

@{
    ViewData["Title"] = "Shortcuts";
}

@{
    var backgroundCount = 1;
}

@*<i class="fa fa-windows fa-lg"></i>*@

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @{
                    var searchGroup = Model.Groups.Where(o => o.Key == "Search").FirstOrDefault();
                }

                <h4 class="shortcut-header"><i class="fa fa-search fa-lg"></i></h4>
                <input type="text" id="query" name="query" value="" style="width:100%;margin-bottom:10px;margin-top:10px;color:#000000;" />

                @foreach (var shortcut in searchGroup)
                {
                    <button onclick="search('@shortcut.Url')" title="@shortcut.Title" class="btn btn-primary btn-lg">
                        @shortcut.Title
                    </button>
                }

            </div>
        </div>
    </div>
</div>

@foreach (var group in Model.Groups)
{
    if (group.Key != "Search")
    {
        <div class="container-fluid sequence-background-@backgroundCount">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="shortcut-header">@group.Key</h4>
                        @foreach (var shortcut in group.ToList())
                        {
                            <a href="@shortcut.Url" title="@shortcut.Title" class="shortcut-link">@shortcut.Title</a>
                            @if (shortcut.Title != group.Last().Title)
                            {
                                <span> - </span>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        {
            backgroundCount = backgroundCount + 1;
        }
    }

}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AddShortcutModal">
                    <i class="fa fa-plus fa-lg"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal fade" id="AddShortcutModal" tabindex="-1" role="dialog" aria-labelledby="AddShortcutModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="color:black;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"  style="color:black;">Add a shortcut</h4>
            </div>
            <form asp-action="Create" asp-controller="Shortcuts">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="Title" style="font-weight:normal;">Title</label>
                        <input id="Title" name="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Group" style="font-weight:normal;">Group</label>
                        <input id="Group" name="Group" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Url" style="font-weight:normal;">Url</label>
                        <input id="Url" name="Url" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="AddForm" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function search(url) {
        window.location = url + document.getElementById("query").value;
    }
</script>