@page "/articles"
@using Domain.Models
@inject IStorageService StorageService

<PageTitle>Articles</PageTitle>

<HeaderComponent 
    H1="Articles" 
    Line1="I adopt a 'learn in public' approach to blogging. Whenever I learn something new, I try to capture it here." 
    Line2="All my articles are written on <a href='https://github.com/martinkearn/Content/tree/master/Blogs'><i class='fa fa-github fa-lg' aria-hidden='true'></i> GitHub</a>." 
    Line3="You can raise issues, create pull requests or even fork the content... its open source." />

@{
    var backgroundCount = 1;
}

@foreach (Article article in pageOfArticles)
{
    <div class="container-fluid sequence-background-@backgroundCount p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><a href="/articles/@article.WebPath.ToLower()" title="@article.Description" >@article.Title</a></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>@article.Published.ToString("dd MMM yyyy")</p>
                    <p><TagsList Categories="@article.Categories" /></p>
                    <p>@article.Description</p>
                    <p><a href="/articles/@article.WebPath.ToLower()" title="@article.Description" type="button" class="btn btn-primary">Learn more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                </div>
                <div class="col-md-4 hidden-sm hidden-xs">
                    <img src="@article.Thumbnail" class="img-responsive article-thumbnail" alt="@article.Title">
                </div>
            </div>
        </div>
    </div>

    {
        backgroundCount = backgroundCount + 1;
    }
}

<div class="comment-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>@articles.Count articles avaliable dating back to 2005! <button type='button' class='btn btn-link' @onclick=(EnableDrafts)>view drafts also</button></p>
                <p>
                    <div class="btn-toolbar" role="toolbar" aria-label="Paging buttons">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            @for (int p = 1; p <= pages; p++) {
                                var thisPage = p;
                                <button class="btn btn-secondary" @onclick="@(e => ChangePage(thisPage))">@p</button>
                            }
                        </div>
                    </div>
                </p>
                <p>@currentPageNumber of @pages</p>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Article> articles = new List<Article>();

    private List<Article> pageOfArticles = new List<Article>();

    private int articlesPerPage = 5;

    private int currentPageNumber = 1;  

    private int pages;

    protected override void OnInitialized()
    {
        articles = StorageService.QueryArticles(default, false, default);
        Setup();
    }

    private void Setup()
    {
        pageOfArticles = articles.Take(articlesPerPage).ToList();
        var pagesDec = (double)articles.Count/(double)articlesPerPage;
        pages = Convert.ToInt16(Math.Ceiling(pagesDec));
        currentPageNumber = 1;
    }

    private void ChangePage(int page)
    {
        currentPageNumber = page;
        pageOfArticles = articles.Skip((page-1)*articlesPerPage).Take(articlesPerPage).ToList();
    }

    private void EnableDrafts()
    {
        articles = StorageService.QueryArticles(default, true, default);
        Setup();
    }
}