@page "/articles"
@using Domain.Models
@inject IStorageService StorageService

<PageTitle>Articles</PageTitle>

<HeaderComponent 
    H1="Articles" 
    Line1="I adopt a 'learn in public' approach to blogging. Whenever I learn something new, I try to capture it here." 
    Line2="All my articles are written on <a href='https://github.com/martinkearn/Content/tree/master/Blogs'><i class='fa fa-github fa-lg' aria-hidden='true'></i> GitHub</a>. You can raise issues, create pull requests or even fork the content... its open source." 
    Line3="By default, you'll only see published articles, but you can see everytying on Github." />

@{
    var backgroundCount = 1;
}

@foreach (Article article in articles)
{
    <div class="container-fluid sequence-background-@backgroundCount p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><a href="/articles/@article.WebPath.ToLower()" title="@article.Description" >@article.Title</a></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>@article.Published.ToString("dd MMM yyyy")</p>
                    <p><TagsList Categories="@article.Categories" /></p>
                    <p>@article.Description</p>
                    <p><a href="/articles/@article.WebPath.ToLower()" title="@article.Description" type="button" class="btn btn-primary">Learn more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                </div>
                <div class="col-md-4 hidden-sm hidden-xs">
                    <img src="@article.Thumbnail" class="img-responsive article-thumbnail" alt="@article.Title">
                </div>
            </div>
        </div>
    </div>

    {
        backgroundCount = backgroundCount + 1;
    }
}

@code {
    private List<Article> articles = new List<Article>();

    protected override void OnInitialized()
    {
        articles = StorageService.QueryArticles(default, default);
    }
}