@page "/tags/{tag}"
@using Domain.Models
@inject IStorageService StorageService

<PageTitle>@WebStrings.TitlePrefix - Tags - @tag</PageTitle>

<HeaderComponent 
    H1=@tag
    Line1="All the articles I have about this topic." />

@{
    var backgroundCount = 1;
}

@foreach (Article article in articesInTag)
{
    <div class="container-fluid sequence-background-@backgroundCount p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><a href="/articles/@article.WebPath.ToLower()" title="@article.Description" >@article.Title</a></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>@article.Published.ToString("dd MMM yyyy")</p>
                    <p><TagsList Categories="@article.Categories" /></p>
                    <p>@article.Description</p>
                    <p><a href="/articles/@article.WebPath.ToLower()" title="@article.Description" type="button" class="btn btn-primary">Learn more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                </div>
                <div class="col-md-4 hidden-sm hidden-xs">
                    <img src="@article.Thumbnail" class="img-responsive article-thumbnail" alt="@article.Title">
                </div>
            </div>
        </div>
    </div>

    {
        backgroundCount = backgroundCount + 1;
    }
}

<div class="comment-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>@articesInTag.Count articles under @tag.ToUpperInvariant(). @articles.Count articles overall dating back to 2005!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/tags" class="btn btn-secondary"><i class="fa fa-angle-double-left" aria-hidden="true"></i> See all tags</a>
                <a href="/articles" class="btn btn-secondary"><i class="fa fa-angle-double-left" aria-hidden="true"></i> See all articles</a>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string tag { get; set; }

    private List<Article> articles = new List<Article>();

    private List<Article> articesInTag = new List<Article>(); 

    protected override void OnInitialized()
    {
        articles = StorageService.QueryArticles(default, false, default);
        articesInTag = articles.Where(a => a.Categories.ToLowerInvariant().Contains(tag)).ToList();
    }

}